/* Usando fontes do google fontes */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Customizando todas as tags HTML(html *) famoso reset CSS */
html *{
    /* Margem */
    margin: 0;
}

/* Personalizando Body */
body{
    /* Aliando centro */
    text-align: center;
    /* Imagem */
    background-image: url(https://bit.ly/3g7ht7X);
    /* Remover repetição do backgound */
    background-repeat: no-repeat;
    /* Posicionamento da imagem */
    background-position: center;
    /* Altura do body */
    height: 100vh;
    color: red;
}

/* Configurando tamanho das divisões das partes principais da tela */
#top{
    height: 20vh;
    background-color:#d3d3667e;
    font-family: 'Pangolin', cursive;
}

#conteudo{
    height: 60vh;
    background-color: #a62b2b7e;
    color: blue;
}

#bot{
    height: 20vh;
    background-color: #5f9ea07e;
}

.icones{
    height: 25px;
    width: 25px;
}